services:
  backend:
    build:
      context: ./my-backend-express 
      dockerfile: Dockerfile
    ports:      
      - "3000:3000" 
    volumes:
      - ./my-backend-express/certs:/app/certs
    env_file:
      - ./my-backend-express/.env.docker  
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
  
  frontend:
    build:
      context: ./my-app-frontend 
      dockerfile: Dockerfile
    ports:
      - "5173:5173"

    env_file:
      - ./my-app-frontend/.env   
    networks:
      - app-network

  postgres:
    image: postgres:17
    env_file:
      - ./postgres.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  stripe-cli:
    image: stripe/stripe-cli:latest
    command: listen --forward-to https://backend:3000/payments/webhook --skip-verify
    volumes:
      - ~/.config/stripe:/root/.config/stripe
    depends_on:
      - backend
    networks:
      - app-network
networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: